@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body, html {
     height: 100%;
     margin: 0;
     scroll-behavior: smooth;
}

*,
*::after,
*::before {
     margin: 0;
     padding: 0;

     box-sizing: border-box;

     font-family: 'Quicksand', sans-serif;

     list-style: none;
     text-decoration: none;
}

/* Header */

.header-parallax {
     width: 100%;
     height: 700px;
     background: #f9063b75;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, hsla(347, 95%, 50%, 0.459), hsla(153, 29%, 6%, 0.664)), url(../img/banner-02.jpg);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, hsla(347, 95%, 50%, 0.459), hsla(153, 29%, 6%, 0.664)), url(../img/banner-02.jpg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     position: relative;
}

.logo {
     color: white;
     display: inline;
}

/* Abrir menu de hamburguesa */

.hamburguer {
     background-color: transparent;
     border: none;
     cursor: pointer;
     display: none;
     padding: 0;
}

.line {
     fill: none;
     stroke: white;
     stroke-width: 6;
     transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
     stroke-dasharray: 60 207;
     stroke-width: 6;
}

.line2 {
     stroke-dasharray: 60 60;
     stroke-width: 6;
}

.line3 {
     stroke-dasharray: 60 207;
     stroke-width: 6;
}

.opened .line1 {
     stroke-dasharray: 90 207;
     stroke-dashoffset: -134;
     stroke-width: 6;
}

.opened .line2 {
     stroke-dasharray: 1 60;
     stroke-dashoffset: -30;
     stroke-width: 6;
}

.opened .line3 {
     stroke-dasharray: 90 207;
     stroke-dashoffset: -134;
     stroke-width: 6;
}
   
/* Abrir menu de hamburguesa */

.mobile-menu {
     height: 100vh;
     width: 0;
     position: fixed;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: #121212;
     overflow-y: auto;
     transition: 0.5s;
     z-index: 50;
     right: -350px; 
 }
 
.mobile-menu-items {
     height: 100%;
     padding-top: 8rem;
     display: flex;
     gap: 1rem;
     flex-direction: column;
     align-items: center;
}

.mobile-menu-items a {
     width: 100%;
     padding: 0.5rem 0;
     text-align: center;
     color: white;
     position: relative;
     text-decoration: none;
}

.mobile-menu-items a::after {
     content: "";
     display: block;
     position: absolute;
     bottom: -0.5rem;
     left: 0;
     width: 0;
     height: 2px;
     background-color: white;
     transition: 0.5s;
}

.mobile-menu-items a:hover::after {
     width: 100%; 
}

.header-parallax-text {
     display: flex;
     height: 650px;
     width: 100%;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}

.header-parallax-text h1 {
     font-size: 50px;
     color: #fff;
}

.header-parallax-text h2 {
     font-size: 30px;
     font-weight: 300;
     color: #fff;
}

.ola {
     height: 150px;
     overflow: hidden;
     position: absolute;
     bottom: 0;
     width: 100%;
}

.ola svg {
     height: 100%;
     width: 100%;
}

.ola svg>path {
     stroke: none;
     fill: #fff;
}

.container {
     padding: 60px 0 0 0;
     width: 80%;
     max-width: 1000px;
     margin: auto;
     overflow: hidden;
}

.subtitulo {
     color: #121212;
     font-size: 30px;
     text-align: center;
     margin-bottom: 20px;
}

/* Galeria */


.portafolio {
     background: #f2f2f2;
}

a > .subtitulo {
     margin-top: 2rem;
     text-decoration: underline 0.2rem red;
     transition: 0.5s;
}

a > .subtitulo:hover {
     margin-top: 2rem;
     transform: scale(1.1);
     text-decoration: underline 0.2rem green;
}


/*  services */

.services{
     align-items: flex-start;
     background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
     display: flex;
     min-height: 100%;
     justify-content: center;
     padding: 64px 24px;
   }
   
   .card-grid{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-column-gap: 24px;
     grid-row-gap: 24px;
     max-width: 1200px;
     width: 100%;
   }
   
   .card{
     list-style: none;
     position: relative;
   }
   
   .card:before{
     content: '';
     display: block;
     padding-bottom: 150%;
     width: 100%;
   }
   
   .card__background{
     background-size: cover;
     background-position: center;
     border-radius: 24px;
     bottom: 0;
     filter: brightness(0.75) saturate(1.2) contrast(0.85);
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     transform-origin: center;
     transform: scale(1) translateZ(0);
     transition: 
       filter 200ms linear,
       transform 200ms linear;
   }
   
   .card:hover .card__background{
     transform: scale(1.05) translateZ(0);
   }
   
   .card-grid:hover > .card:not(:hover) .card__background{
     filter: brightness(0.5) saturate(0.5) contrast(1.2);
   }
   
   .card__content{
     left: 0;
     padding: 24px;
     position: absolute;
     top: 0;
   }
   
   .card__category{
     color: rgba(255,255,255,0.6);
     font-size: 0.9rem;
     margin-bottom: 8px;
     text-transform: uppercase;
   }
   
   .card__heading{
     color:  rgba(255,255,255,0.9);
     font-size: 1.9rem;
     text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
     line-height: 1.4;
     word-spacing: 100vw;
   }

/* footer */

/* Pára que siempre este abajo */

html {
     height: 100%;
}

body {
     display: flex;
     flex-direction: column;
     min-height: 100%;
}

footer {
     background: #121212;
     padding: 60px 0 100px 0;
     margin: 0 0 0 0;
     overflow: hidden;
     margin-top: auto;
}

.container-footer {
     display: flex;
     width: 100%;
     justify-content: space-evenly;
     margin: auto;
     padding-bottom: 20px;
}

.contenido {
     text-align: center;
}

.contenido h4 {
     color: #fff;
     border-bottom: 3px solid red;
     padding-bottom: 5px;
     margin-bottom: 10px;
}

.contenido p {
     color: #ccc;
}

/* our-jobs */

/* Header */

.encabezado-normal {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 25px;
     width: 100%;
     height: 90px;
     background: transparent;
     transition: 0.5s;
     position: fixed;
     z-index: 100;
}

.encabezado-normal nav {
     display: flex;
     gap: 1.5rem;
     flex-direction: row;
     align-items: center;
}

.encabezado-normal nav a {
     padding: 0.5rem 0;
     text-align: center;
     color: white;
     position: relative;
     text-decoration: none;
     margin-right: 10px;
     text-decoration: none;
}

 
.encabezado-normal nav a::after {
     content: "";
     display: block;
     position: absolute;
     bottom: 0.2rem;
     left: 0;
     width: 0;
     height: 2px;
     background-color: white;
     transition: 0.5s;
}

.encabezado-normal nav a:hover::after {
     width: 100%; 
}

.container-normal {
     padding: 120px 0 20px 0;
     width: 90%;
     max-width: 1000px;
     margin: auto;
     overflow: hidden;
}

.subtitulo-our-jobs {
     color: #121212;
     font-size: 30px;
     text-align: center;
     margin-bottom: 20px;
}

.search-container {
     display: flex;
     flex-direction: column;
     text-align: center;
}

.search-container .barra-busqueda {
     width: 70%;
     height: 40px;
     line-height: 40px;
     background-color: #fff;
     border: gray 1px solid;
     padding: 0 20px;
     border-radius: 10px;
     text-align: center;
     font-size: 16px;
     margin-bottom: 2rem;
}

.categories {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 1.2rem;
}

.categories a {
     color: gray;
     font-size: 17px;
     font-weight: bold;
}

.categories a.activo {
     color: #121212;
}

.container-normal-gallery {
     width: 90%;
     max-width: 1000px;
     margin: auto;
     overflow: hidden;
}

.grid-container {
     margin-bottom: 5rem;
}

.grid {
     position: relative;
     width: 100%;
     opacity: 0;
     transition: opacity 0.5s linear 0.5s;
}

.grid.imagenes-cargadas {
     opacity: 1;
}

.grid .item {
     position: absolute;
     display: block;
     padding: 0;
     margin: 10px;
     width: calc(33.33333% - 20px);
     
}

.grid .item-contenido {
     position: relative;
}

.grid .item img {
     width: 100%;
     vertical-align: top;
     cursor: pointer;
}

/* About Us */

.main-about-us {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 82vh;
}

.container-about-us {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.container-about-us img {
     width: 48%;
}

.container-about-us .informacion{
     width: 48%;
}

.informacion h3{
     margin-bottom: 15px;
     text-decoration: underline 0.2rem red;
}

.informacion li {
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
}

.informacion li span{
     background: red;
     color: #fff;
     border-radius: 50%;
     display: inline-block;
     text-align: center;
     width: 30px;
     height: 30px;
     padding: 4px;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
     margin-right: 5px;
}

.informacion p{
     margin-top: 1rem;
     font-weight:700;
     text-align: justify;
}

/* Contact us */

.section-contact-us {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

.container-contact-us {
     position: relative;
     min-width: 1100px;
     min-height: 550px;
     display: flex;
     z-index: 10;
}

/* Colores de fondo */

.container-contact-us .contact-information{
     position: absolute;
     top: 40px;
     width: 350px;
     height: calc(100% - 80px);
     background-color: red;
     z-index: 1;
     padding: 40px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     justify-content: space-between;
     box-shadow: 0 20px 5px rgba(0, 0, 0, .15);    
}

.container-contact-us .contact-form {
     position: absolute;
     padding: 70px;
     padding-left: 250px;
     margin-left: 150px;
     width: calc(100% - 150px);
     height: 100%;
     background-color: white;
     box-shadow: 0 50px 50px rgba(0, 0, 0, .25);    
}

/*Information*/

.container-contact-us .contact-information h2 {
     color: white;
     font-size: 24px;
     font-weight: 700;
}

.container-contact-us .contact-information ul.info {
     position: relative;
     margin: 20px 0;
}

.container-contact-us .contact-information ul.info li{
     position: relative;
     list-style: none;
     display: flex;
     margin: 20px 0;
     cursor: pointer;
     align-items: flex-start;
}

.container-contact-us .contact-information ul.info li span:nth-child(1){
     width: 40px;
     min-width: 40px;
}

.container-contact-us .contact-information ul.info li span:nth-child(1) img{
     max-width: 100%;
     filter: invert(1);
}

.container-contact-us .contact-information ul.info li span:nth-child(2){
     color: #fff;
     margin-left: 10px;
     font-weight: 400;
}

/* form */

.container-contact-us .contact-form h2 {
     color: #121212;
     font-size: 24px;
     font-weight: bold;
}

.container-contact-us .contact-form .form-box {
     position: relative;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding-top: 30px;
}

.container-contact-us .contact-form .form-box .inputBox {
     position: relative;
     margin-bottom: 35px;
}

.container-contact-us .contact-form .form-box .inputBox.w50 {
     width: 47%;
}


.container-contact-us .contact-form .form-box .inputBox.w100 {
     width: 100%;
}

.container-contact-us .contact-form .form-box .inputBox input,
.container-contact-us .contact-form .form-box .inputBox textarea {
     width: 100%;
     resize: none;
     padding: 5px 0;
     font-size: 18px;
     font-weight: 300;
     color: #333;
     border: none;
     outline: none;
     border-bottom: 1px solid #777;
}

.container-contact-us .contact-form .form-box .inputBox textarea {
     height: 120px;
}

.container-contact-us .contact-form .form-box .inputBox span {
     position: absolute;
     left: 0;
     padding: 5px 0;
     pointer-events: none;
     font-size: 18px;
     font-weight: 300;
     transition: 0.3s;
}

.container-contact-us .contact-form .form-box .inputBox input:focus ~ span,
.container-contact-us .contact-form .form-box .inputBox input:valid ~ span,
.container-contact-us .contact-form .form-box .inputBox textarea:focus ~ span, 
.container-contact-us .contact-form .form-box .inputBox textarea:valid ~ span {
     transform: translateY(-20px);
     font-size: 12px;
     font-weight: 400;
     letter-spacing: 1px;
     color: #121212;
}

.container-contact-us .contact-form .form-box .inputBox input[type="submit"] {
     position: relative;
     cursor: pointer;
     background: #121212;
     color: white;
     max-width: 150px;
     padding: 12px;
     transition: 0.3s;
}

.container-contact-us .contact-form .form-box .inputBox input[type="submit"]:hover {
     background: red;
     color: white;
}

/* Medias querys*/

@media screen and (max-width:1200px){
     
     /* Contact us*/

     .container-contact-us{
          width: 90%;
          min-width: auto;
          margin: 20px;
          box-shadow: 0 20px 50px rgba(0, 0, 0, .2);
     }

     .container-contact-us .contact-information {
          top: 0;
          height: 550px;
          position: relative;
          box-shadow: none;
     }

     .container-contact-us .contact-form {
          position: relative;
          width: calc(100% - 350px);
          padding-left: 0;
          margin-left: 0;
          padding: 40px;
          height: 550px;
          box-shadow: none;
     }
}

@media screen and (max-width:900px) {

     /* Galeria */

     .container-our-job-photos {
          width: 44%;
     }

     /* about us*/

     .main-about-us {
          height: auto;
     }
     
     .container-about-us{
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     .container-about-us .informacion{
          width: 60%;
          padding-bottom: 3rem;
     }

     .container-about-us .informacion h3 {
          text-align: center;
     }

     .container-about-us img{
          width: 90%;
     }

     /* Contact us */

     .section-contact-us {
          padding-top: 120px;
          padding-bottom: 60px;
     }

     .container-contact-us{
          display: flex;
          flex-direction: column-reverse;
     }

     .container-contact-us .contact-form {
          width: 100%;
          height: auto;
     }

     .container-contact-us .contact-information {
          width: 100%;
          height: auto;
     }

     .service {
          flex-wrap: wrap;
          width: 40%;
     }
}


@media screen and (max-width: 700px) {

     .encabezado-normal .encabezado-items {
          display: none;
     }

     .hamburguer {
          display: flex;
     }

     .grid .item {
          width: calc(50% - 20px);
     }

     form > #barra-busqueda {
          width: 80%;
     }

}

@media screen and (max-width: 600px){
     .section-contact-us {
          padding-top: 120px;
          padding-bottom: 60px;
     }

     .container-contact-us .contact-form {
          padding: 25px;
     }

     .container-contact-us .contact-information {
          padding: 25px;
          flex-direction: column;
          align-items: flex-start;
     }

     .container-contact-us .contact-form .form-box .inputBox.w50 {
          width: 100%;
     }

}

@media screen and (max-width:500px) {
     .encabezado-normal {
          text-align: center;
     }

     .encabezado-normal nav a {
          padding: 0.2rem;
          margin: 0;
     }

     .textos-encabezado h1 {
          font-size: 35px;
     }

     .textos-encabezado h2 {
          font-size: 20px;
     }

     /* Galeria */

     .container-our-job-photos {
          width: 90%;
     }

     /* Services */

     .container-services {
          flex-direction: column;
     }

     .service {
          width: 80%;
     }

     /* Footer */

     .container-footer {
          flex-direction: column;
          border: none;
     }

     .contenido {
          margin-bottom: 20px;
          text-align: center;
     }

     .contenido h4 {
          border: none;
     }

     .contenido p {
          color: #ccc;
          border-bottom: 1px solid #f2f2f2;
          padding-bottom: 20px;
     }

     .grid .item {
          width: calc(100% - 20px);
     }

     form > #barra-busqueda {
          width: 80%;
     }

     /* About us*/

     .container-about-us img{
          margin-bottom: 60px;
          width: 90%;
     }

     .container-about-us .informacion{
          width: 95%;
     }

}

@media(min-width: 540px){
     .card-grid{
       grid-template-columns: repeat(2, 1fr); 
     }
   }
   
   @media(min-width: 960px){
     .card-grid{
       grid-template-columns: repeat(4, 1fr); 
     }
   }

/* Clases inyectadas desde js*/

.mobile-menu.open {
     width: 350px; 
     right: 0; 
}

.encabezado-normal.scrolled {
     background-color: #121212;
}

.no-scroll {
     overflow: hidden;
}

.menu-open {
     transition: 1s;
     filter: brightness(50%);
}

/* Diseño Carrousel */



/* Wave effect */
.waves {
     position: relative;
     width: 100%;
     height: 15vh;
     top: -80px;
     /*Fix for safari gap*/
     min-height: 100px;
     max-height: 150px;
   }
   
   .content {
     position: relative;
     height: 20vh;
     text-align: center;
     background-color: white;
   }
   
   /* Animation */
   
   .parallax > use {
     animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
   }
   
   .parallax > use:nth-child(1) {
     animation-delay: -2s;
     animation-duration: 7s;
   }
   
   .parallax > use:nth-child(2) {
     animation-delay: -3s;
     animation-duration: 10s;
   }
   
   .parallax > use:nth-child(3) {
     animation-delay: -4s;
     animation-duration: 13s;
   }
   
   .parallax > use:nth-child(4) {
     animation-delay: -5s;
     animation-duration: 20s;
   }
   
   @keyframes move-forever {
     0% {
       transform: translate3d(-90px, 0, 0);
     }
   
     100% {
       transform: translate3d(85px, 0, 0);
     }
   }
